<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553341095223-d4h1bt4nsokg8b64obubnbvd5vq7fmuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553341095223-d4h1bt4nsokg8b64obubnbvd5vq7fmuk</string>
	<key>API_KEY</key>
	<string>AIzaSyBn29S6o7pc1R7c-Yvsp8qM6sglWZenc94</string>
	<key>GCM_SENDER_ID</key>
	<string>553341095223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NirbhaySingh.JaipurTreeMap</string>
	<key>PROJECT_ID</key>
	<string>jaipurtreemap</string>
	<key>STORAGE_BUCKET</key>
	<string>jaipurtreemap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553341095223:ios:d9bc281d04d1214d689eb2</string>
	<key>DATABASE_URL</key>
	<string>https://jaipurtreemap.firebaseio.com</string>
</dict>
</plist>